<h1 align="center">Bienvenido!</h1>
<h3 align="center">"<%= current_user.name %>"</h3>
<br>

<div align="center">
  <p>
    ¿Hoy vamos a?
  </p>
  <p>
    <!-- falta validacion en cuanto a nombre segun la base de datos
    <a class="btn btn-material-cyan" href="<%= posts_category_post_path(2) %>"><%= CategoryPost.find(2).name %></a>
    -->
    <a class="btn btn-material-cyan" href="<%= posts_category_post_path(2) %>">Buscar</a>
    <%= link_to 'Ofrecer' , new_post_path, :class=>"btn btn-material-red" %>
  </p>
</div>
