<div class="Posts toshow" id="Posts" style="display:none">
  <h3>Posts</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Para la facultad</th>
        <th>Categoria</th>
        <th>Costo</th>
        <th>Tipo de post</th>
        <th>Evento</th>
      </tr>
    </thead>
    <% @posts.each do |post| %>
    <tbody>
      <tr class="info">
        <td><%= post.id %></td>
        <td><%= post.description %></td>
        <td><%= post.school.name %></td>
        <td><%= post.category.name %></td>
        <td><%= post.category_post.name %></td>
        <td>$<%= post.price %></td>
        <% if post.event_id == nil %>
            <td><small>sin evento</small></td>
        <% else %>
        <td><%= post.event.name %></td>
        <% end %>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
