<h1>Admins</h1>

<% @admins.each do |admin| %>
  <ul>
      <p>
        <h4>Name:</h4>
        <%= admin.name %>
      </p>

      <p>
        <h4>User:</h4>
        <%= admin.user %>
      </p>

      <p>
        <h4>email:</h4>
        <%= admin.email %>
      <p>


  </ul>

  <p>

    <%= link_to " Delete ", admin, :method => :delete, :confirm => "Are you sure ?"%>
        <%= link_to ' Edit ', edit_admin_path(admin) %>
  </p>

  <br>


<% end %>

<%= link_to 'New', new_admin_path %>
