<p id="notice"><%= notice %></p>
<h1 class="text-center">Administrador: <%= @admin.name %></h1>
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="leftmargin jumbotron col-md-3 ">
        <%= link_to 'Promotion', promotion_path, class:"btn btn-danger"%>
        <%= link_to 'Reportes', admin_path(current_admin.id), class:"btn btn-danger"%>
        <%= link_to 'Cerrar sesion', admin_logout_path, method: "delete", class:"btn btn-danger"%>
      </div>

      <div class="jumbotron col-md-offset-1 col-md-7 affixed reportes">

      </div>
    </div>
  </div>
