<p id="notice"><%= notice %></p>

<h1> User..</h1>

<p>
  <h4>Nombre:</h4><br>
  <%= @admin.name %>
</p>

<p>
  <h4>User:</h4><br>
  <%= @admin.user %>
</p>

<p>
  <h4>Mail:</h4><br>
  <%= @admin.email %>
</p>
<br>

<% if logged_in_admin? %>
  <p>wea</p>
<% else %>
  <p>no wea</p>
<% end %>

<%= link_to 'Back', admins_path %>

<br>


<%= link_to 'Cerrar sesion', admin_logout_path, method: "delete"%>
