<p id="notice"><%= notice %></p>
<div class="jumbotron col-md-6 col-md-offset-3">
  <h1 class="text-center">Administrador <%= @admin.name %></h1>


  <h3>Usuario</h3>
  <div class="well">
    <%= @admin.user %>
  </div>

  <h3>Email</h3>
  <div class="well">
    <%= @admin.email %>
  </div>

  <br>

  <% if logged_in_admin? %>
  <%= link_to 'Cerrar sesion', admin_logout_path, method: "delete"%>
  <% else %>

  <% end %>

  <p>
  <%= link_to 'Back', admins_path %>
  </p>

</div>
