<h1>Users</h1>

<% @users.each do |user| %>
  <ul>
      <li><%= user.id %></li>
      <li><%= user.name %></li>
      <li><%= user.user %></li>
      <li><%= user.password %></li>
      <li><%= user.mail %></li>
      <li><%= user.telephone %></li>
      <li><%= link_to 'Edit', edit_user_path(user) %></li>
      <li><%= link_to "Delete", user, :method => :delete, :confirm => "Are you sure ?"%></li>
      </li>
  </ul>

<% end %>

<%= link_to 'New', new_user_path(@user) %> |
