<p id="notice"><%= notice %></p>
<div class="jumbotron col-md-6 col-md-offset-3">
  <h1 class="text-center">Usuario <%= @user.user %></h1>​
  <div class="divider"></div>
    <h3>Nombre</h3>
    <div class="well">
      <%= @user.name %>
    </div>
    <h3>Email</h3>
    <div class="well">
      <%= @user.mail %>
    </div>
    <h3>Telefono</h3>
    <div class="well">
      <%= @user.telephone %>
    </div>
</div>
