<p id="notice"><%= notice %></p>
<div class="container-fluid eventshow">
  <div class="row row-eq-height">
    <div class="leftmargin jumbotron col-md-3 ">
      <h2 class="text-center"><%= @user.user %></h2>
      <div class="postpatrocinados_titulo">
        <h5>Nombre: <small> <%= @user.name %></small></h5>
        <h5>Email: <small><%= @user.mail%></small></h5>
        <h5>Telefono: <small><%= @user.telephone%></small></h5>
        <%= link_to 'Regresar', events_path, :class=>"btn btn-info" %>
      </div>
    </div>

    <div class="jumbotron col-md-offset-1 col-md-7 affixed" id="eventposts">
      <%= render 'posts' %>
    </div>
  </div>
</div>
