<div class="jumbotron col-md-8 col-md-offset-2">
  <%= form_for(@event) do |f|%>
    <p>
      <%= f.label 'A qué facultad va orientado el evento?' %>
      <%= f.select :school_id, select_school,{}, class: "form-control" %>
    </p>
    <p>
      <%= f.label 'Nombre del evento' %>
      <%= f.text_field :name, class: "form-control" %>
    </p>
    <p>
      <%= f.label 'Descripción del evento' %>
      <%= f.text_field :description, class: "form-control" %>
    </p>
    <p>
      <%= f.label 'Fecha de inicio del evento' %>
      <p class="">
        <%= f.datetime_select :start_date,{}, class: "btn btn-success" %>
      </p>
    </p>
    <p>
      <%= f.label 'Fecha de finalizar evento' %>
      <p>
        <%= f.datetime_select :end_date,{}, class: "btn btn-success" %>
      </p>
    </p>

    <p class="text-center">
      <%= f.submit :class => "btn btn-success"%>
    </p>

  <% end %>
</div>
