<div class="row">

    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center under-navbar">Eventos</h1>
    </div>

  </div>



  <div class="row under-navbar">

    <div class="col-md-1 col-md-offset-1">
      <%= link_to "Crear evento", new_event_path, :class => "btn btn-raised btn-success"%>

    </div>

    <div class="jumbotron col-md-6 col-md-offset-1">
      <% @events.each do |event| %>

            <div class="panel panel-success">

              <div class="panel-heading">
                <h4><%= event.name %></h4>
              </div>

              <div class="panel-body">
                Lugar: <%= event.school.name %>
              </div>

              <div class="panel-body">
                Fecha:
              </div>

              <div class="panel-body">
                Descripción: <%= event.description %>
              </div>


            </div>
      <% end %>

    </div>

    <div class="col-md-1 col-md-offset-1 ">

        <h1 class="header  under-navbar">
          Facultades
        </h1>

      <% @schools.each do  |school| %>
        <li> <%= link_to "#{school.name}", events_school_path(school.id) %> </li>
      <% end %>

    </div>

  </div>
