<p id="notice"><%= notice %></p>
<div class="container-fluid eventshow">
  <div class="row row-eq-height">
    <div class="leftmargin jumbotron col-md-3 ">
      <h2 class="text-center"><%= @event.name %></h2>
      <div class="postpatrocinados_titulo">
        <h5>Organizado por: <small><%= @event.user.name %></small></h5>
        <h5>Lugar: <small><%= @event.school.name%></small></h5>
        <h5>Descripción: <small><%= @event.description %></small></h5>
        <h5>Fecha de inicio: <small><%= @event.start_date.to_formatted_s(:short) %></small></h5>
        <h5>Fecha de finalizado: <small><%= @event.end_date.to_formatted_s(:short) %></small></h5>
        <%= link_to 'Regresar', events_path, :class=>"btn btn-info" %>
        <%= link_to 'Postear', new_post_path , :class=>"btn btn-success" %>
      </div>
    </div>

    <div class="jumbotron col-md-offset-1 col-md-7 affixed" id="eventposts">
          <%= render 'posts' %>
    </div>
  </div>

</div>
