<p id="notice"><%= notice %></p>
<div class="container-fluid eventshow">
  <div class="row row-eq-height">
    <div class="leftmargin jumbotron col-md-5 ">
      <h2 class="text-center"><%= @event.name %></h2>
      <div class="divider"></div>
      <h4>Organizado por</h4>
      <div class="well">
        <%= @event.user.name %>
      </div>
      <h4>Lugar</h4>
      <div class="well">
        <%= @event.school.name%>
      </div>
      <h4>Descripción</h4>
      <div class="well">
        <%= @event.description %>
      </div>
      <%= link_to 'Regresar', :back, :class=>"btn btn-info" %>
    </div>

    <div class="jumbotron col-md-offset-1 col-md-5 affixed" id="eventposts">
          <%= render 'posts' %>
    </div>
  </div>

</div>
