<h1>Admin Login</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <p>
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Login"%>
  </p>
<% end %>

<p> <%= link_to 'Users', controller: "users", action: "index" %> <p>
