<p id="notice"><%= notice %></p>

<table class="table table-striped table-hover " style="width: 200px;">
  <thead>
      <tr>
          <!--<th>ID</th>-->
          <th>Nombre</th>
      </tr>
  </thead>
  <tbody>
    <tr class="info">
      <!--<td><%= @category_post.id %></td>-->
      <td><%= @category_post.name %></td>
    </tr>
  </tbody>
</table>
<!--
<%= link_to 'Edit', edit_category_post_path(@category_post) %> |
<%= link_to 'Back', category_posts_path %>
-->
