<p id="notice"><%= notice %></p>

<p>ID
  <h4><%= @school.id %></h4>
</p>
<p>name
  <h4><%= @school.name %></h4>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
