<h1>Posts</h1>

<% @posts.each do |post| %>
  <ul>
      <li><%= post.id %></li>
      <li><%= post.user.name %></li>
      <li><%= post.description %></li>
      <li><%= post.school.name %></li>
      <li><%= post.category.name %></li>
      <li><%= post.price %></li>
      <li><%= post.category_post.name %></li>
      <li><%= post.created_at %></li>

      <li><%= link_to 'Edit', edit_post_path(post) %></li>
      <li><%= link_to "Delete", post, :method => :delete, :confirm => "Are you sure ?"%></li>
      </li>
  </ul>

<% end %>

<%= link_to 'New', new_post_path(@post) %>
