<p id="notice"><%= notice %></p>

<p>ID:
  <h4><%= @post.id %></h4>
</p>
<p>user_id:
  <h4><%= @post.user.name %></h4>
</p>
<p>description:
  <%= @post.description %>
</p>
<p>school_id:
  <%= @post.school.name %>
</p>
<p>category_id:
  <%= @post.category.name %>
</p>
<p>price:
  <%= @post.price %>
</p>
<p>category_post_id:
  <%= @post.category_post.name %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
