<h1 class="text-center">Pagos</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1 jumbotron">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id del pago</th>
          <th>Post id</th>
          <th>Solicitado el</th>
          <th>Pagado</th>
          <th>Referencia</th>
        </tr>
      </thead>

      <% @promotions.each do |promotion| %>
        <tbody>
          <tr>
            <td><%= link_to "#{promotion.id}", edit_promotion_path(promotion) %></td>
            <!-- <td><%= promotion.post_id %></td> -->
            <td><%= link_to "#{promotion.post_id}", edit_post_path(promotion.post_id) %></td>
            <td><%= promotion.created_at %></td>
            <td><%= promotion.paid %></td>
            <td><%= promotion.reference %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <p id="pdf_link"><%= link_to "Imprimir(PDF)", promotions_path(:format => "pdf") %></p>
  </div>
</div>

<%= link_to "Regresar",  :administration %>
