<!-- Admin
  #
  # pull coock branch
  #
-->
<div class="navbar navbar-material-green">
  <div class="navbar-header">
    <% if logged_in? %>
    <%= link_to "#{image_tag('/applogo36px.png')}".html_safe,:home, :class=>"navbar-brand" %>
    <% else %>
    <%= link_to "#{image_tag('/applogo36px.png')}".html_safe,:root, :class=>"navbar-brand" %>
    <% end %>
  </div>
  <% if logged_in? %>
  <ul class="Buttons nav navbar-nav navbar-left ">
        <li><%= link_to 'Posts' , posts_path, :class=>"btn-material-green" %></li>
        <li><%= link_to 'Postear' , new_post_path, :class=>"btn-material-red" %></li>
        <li><%= link_to 'Eventos', events_path, :class=>"btn-material-green" %></li>
  </ul>
  <% else %>
  <% end %>

  <% if logged_in_admin? %>
  <ul class="Buttons nav navbar-nav navbar-left ">
        <li><%= link_to 'Posts' , posts_path, :class=>"btn-material-green" %></li>        
        <li><%= link_to 'Eventos', events_path, :class=>"btn-material-green" %></li>
  </ul>
  <% else %>
  <% end %>

  <!--<div class="navbar-collapse collapse navbar-responsive-collapse">-->
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Nosotros', :aboutus, :class=>"btn-material-green" %></li>
          <!-- User-->
          <% if logged_in? %>
          <li class="dropdown btn-material-green">
            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><i class="mdi mdi-action-account-circle"></i><%= current_user.name %>
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Mis posts', posts_user_path(current_user.id), :class=>""%></i></li>
              <li class="divider"></li>
              <li><%= link_to 'Cerrar sesion', logout_path, method: "delete"%></i></li>
            </ul>
          </li>
          <% #admin %>
          <% elsif  logged_in_admin? %>
          <li class="dropdown btn-material-green">
            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><i class="mdi mdi-action-account-circle"></i><%= current_admin.user %>
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>Cosa</li>
              <li class="divider"></li>
              <li><%= link_to 'Cerrar sesion', admin_logout_path, method: "delete"%></li>
            </ul>
          </li>
          <!-- No user-->
          <% else %>
          <li><%= link_to 'Iniciar sesion' , login_path, :class=>"btn-material-green" %></li>
          <li><%= link_to 'Registrarse' , new_user_path, :class=>"btn-material-light-green" %></li>
          <% end %>
        </ul>
      </div>
</div>
