<!DOCTYPE html>
<html>
<head>
  <title>UniHelper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to "#{image_tag('/applogo48px.png')}".html_safe, :home %>
      </div>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li class="move"><i class="mdi-action-account-circle"></i><%= current_user.name %></li>
          <li><%= link_to '|', "javascript:void(0)"%></li>
          <li><%= link_to '<i class= "mdi-action-highlight-remove"></i>'.html_safe, logout_path, method: "delete", style: "color:black;"%></li>
        </ul>
      </div>
    </div>
  </div>
<% else %>
<div class="navbar navbar-default">
  <h1 class="text-center">Unihelper</h1>

</div>
<% end %>
<%= yield %>
<% if logged_in? %>
  <%= link_to "Log out", logout_path, method: "delete" %>

<%else%>
<% end %>
</body>
</html>
